
.container {

    display: grid;    
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 72px repeat(3, auto) max-content;
    grid-gap: 0.4em;

    grid-template-areas:
    "head head" 
    "info info"     
    "main main" 
    "footer footer";

    height: 100vh;
}

@media screen and (min-width: 500px) and (max-width: 700px) {

    .container {
        grid-template-columns: 45% 1fr;
        grid-template-rows: 72px repeat(3, auto) max-content;

        grid-template-areas:
        "head head" 
        "info nav" 
        "info main" 
        "info main"
        "footer footer";
    } 
}

@media screen and (min-width: 700px) {

    .container {

        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 72px 120px repeat(2, auto) max-content;

        grid-template-areas:
        "head head head head" 
        "info nav nav nav" 
        "info main main main" 
        "info main main main"
        "footer footer footer footer";
    } 
 }