.header {
    grid-area: head;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 0 0 #eaedf3;
}

.userInfo {
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userIcon {
    background: #F6CA65;
    border-radius: 0.4rem;
    padding: 0.4rem;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
}

.userName {
    margin: 0 0.4rem;
    color: #005B96;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}

