
.container {
    position: absolute;
    width: 100%;
    display: flex;
    left: 0;
    top: 0;
    display: flex;
}

.pic {
    width: 100%;
}

.leftSide {
    width: 30%;
    height: 100vh;
    background: #005B96;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.rightSide {
    flex: 1;
    /*height: 100vh;*/
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    padding: 20px;
}

.rightSide h2 {
    color: #011F4B;
    font-size: 24px;
    line-height: 28px;
}

.rightSide p {
    font-size: 16px;
    line-height: 19px;
    color: #005B96;
}

@media screen and (max-width: 600px){

    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .leftSide {
        width: 100%;
        height: max-content;
    }

    .rightSide {
        text-align: center;
    }

    .rightSide h2 {
        font-size: 20px;
    }
    
    .rightSide p {
        font-size: 14px;
    }
}