
.container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    margin-top: 10px;
    /*justify-content: center;
    align-content: center;   */
}

.container section {
    display: flex;
    flex-direction: column;
}

.submitSection {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.error {
    color: #B5B5C3;
    font-size: 14px;
    line-height: 16px;
}

.hide {
    display: none;
}

@media screen and (max-width: 750px){

    .container { 
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);        
    }

    .submitSection {
        position: relative;
        right: 0;
        bottom: 0;
        margin-bottom: 20px;
    }
}